workflows/1lbkTUDOyzfR6x82.json
{
  "updatedAt": "2026-07-11T21:59:25.677Z",
  "createdAt": "2026-07-11T09:32:31.805Z",
  "id": "1lbkTUDOyzfR6x82",
  "name": "stocks",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8e52e259-e8a1-4f85-bd82-81749dff1de4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ 'https://query1.finance.yahoo.com/v8/finance/chart/' + $json.symbol + '?range=6mo&interval=1d' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "665157d2-7daa-4a82-97bc-3bab5c35c46a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const stocks = [\n  { symbol: \"ABB.ST\", buyPrice: 909 },   //ABB\n  { symbol: \"SU.PA\", buyPrice: 259 },     // Schneider Electric\n  { symbol: \"ASML.AS\", buyPrice: 1222 },   // ASML\n  { symbol: \"IFX.DE\", buyPrice: 55 },    // Infineon\n  { symbol: \"NKT.CO\", buyPrice: 947 },    // NKT\n  { symbol: \"SAP.DE\", buyPrice: 140 },    // SAP\n  { symbol: \"UCG.MI\", buyPrice: 73 },    // UniCredit\n  { symbol: \"KOG.OL\", buyPrice: 293 },    // Kongsberg Gruppen\n  { symbol: \"CARL-B.CO\", buyPrice: 901 }, // Carlsberg\n  { symbol: \"DSV.CO\", buyPrice: 1634 },    // DSV\n  { symbol: \"MTRS.ST\", buyPrice: 185 },   // Munters\n  { symbol: \"YCA.L\", buyPrice: 6 },     // Yellow Cake\n  { symbol: \"ALFA.ST\", buyPrice: 468 },   // Alfa Laval\n  { symbol: \"KMAR.OL\", buyPrice: 60 },   // Kongsberg Maritime\n];\n\nreturn stocks.map(stock => ({\n  json: stock\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d5b7977d-7fd2-4779-bf94-f028d02d55af",
      "name": "Stock List"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $json.chart?.result?.[0];\n\nif (!result) {\n  throw new Error('Yahoo returned no chart result');\n}\n\nconst meta = result.meta ?? {};\nconst yahooSymbol = meta.symbol;\n\nif (!yahooSymbol) {\n  throw new Error('Yahoo response has no symbol');\n}\n\n// Match the Yahoo response to the correct portfolio entry.\n// This avoids n8n item-linking mixing prices between tickers.\nconst stocks = $('Stock List')\n  .all()\n  .map(item => item.json);\n\nconst stock = stocks.find(item =>\n  String(item.symbol).trim().toUpperCase() ===\n  String(yahooSymbol).trim().toUpperCase()\n);\n\nif (!stock) {\n  throw new Error(\n    `Could not find ${yahooSymbol} in Stock List`\n  );\n}\n\nconst timestamps = result.timestamp ?? [];\nconst quote = result.indicators?.quote?.[0] ?? {};\nconst closes = quote.close ?? [];\nconst volumes = quote.volume ?? [];\n\nif (\n  timestamps.length === 0 ||\n  closes.length === 0 ||\n  volumes.length === 0\n) {\n  throw new Error(\n    `Yahoo returned incomplete data for ${yahooSymbol}`\n  );\n}\n\n// Build valid historical rows.\nconst rows = timestamps\n  .map((time, index) => ({\n    time,\n    close: closes[index],\n    volume: volumes[index],\n  }))\n  .filter(row =>\n    Number.isFinite(row.time) &&\n    Number.isFinite(row.close) &&\n    Number.isFinite(row.volume)\n  )\n  .sort((a, b) => a.time - b.time);\n\n// Remove duplicate timestamps.\n// If duplicates exist, keep the row with the highest volume,\n// which is normally the most complete candle.\nconst rowsByTimestamp = new Map();\n\nfor (const row of rows) {\n  const existing = rowsByTimestamp.get(row.time);\n\n  if (!existing || row.volume >= existing.volume) {\n    rowsByTimestamp.set(row.time, row);\n  }\n}\n\nconst valid = [...rowsByTimestamp.values()]\n  .sort((a, b) => a.time - b.time);\n\nif (valid.length < 2) {\n  throw new Error(\n    `Not enough valid price rows for ${yahooSymbol}`\n  );\n}\n\nconst today = valid.at(-1);\nconst yesterday = valid.at(-2);\n\nconst currentPrice = today.close;\nconst previousClose = yesterday.close;\n\n// Use approximately three months of previous trading sessions.\n// 63 trading days is roughly three calendar months.\nconst previousVolumeRows = valid.slice(-64, -1);\n\nif (previousVolumeRows.length === 0) {\n  throw new Error(\n    `Not enough volume history for ${yahooSymbol}`\n  );\n}\n\nconst previousVolumes = previousVolumeRows.map(\n  row => row.volume\n);\n\nconst averageVolume3m =\n  previousVolumes.reduce(\n    (sum, value) => sum + value,\n    0\n  ) / previousVolumes.length;\n\nconst dailyChangePercent =\n  ((currentPrice - previousClose) / previousClose) * 100;\n\nconst volumeDeviationPercent =\n  averageVolume3m > 0\n    ? ((today.volume - averageVolume3m) /\n        averageVolume3m) *\n      100\n    : 0;\n\nconst buyPrice = Number(stock.buyPrice);\n\nconst stopLossTriggered =\n  Number.isFinite(buyPrice) &&\n  currentPrice <= buyPrice * 0.93;\n\nconst unrealizedReturnPercent =\n  Number.isFinite(buyPrice)\n    ? ((currentPrice - buyPrice) / buyPrice) * 100\n    : null;\n\nconst priceVsBuy =\n  !Number.isFinite(buyPrice)\n    ? \"unknown\"\n    : currentPrice > buyPrice\n      ? \"above\"\n      : currentPrice < buyPrice\n        ? \"below\"\n        : \"equal\";\n\nconst stopLossPrice =\n  Number.isFinite(buyPrice)\n    ? buyPrice * 0.93\n    : null;\n\nreturn {\n  json: {\n    symbol: yahooSymbol,\n    currency: meta.currency ?? null,\n\n    buyPrice: Number.isFinite(buyPrice)\n      ? buyPrice\n      : null,\n\n    currentPrice,\n    previousClose,\n\n    latestTimestamp: today.time,\n    latestDate: new Date(\n      today.time * 1000\n    ).toISOString(),\n\n    dailyChangePercent,\n    dailyVolume: today.volume,\n\n    averageVolume3m,\n    volumeDeviationPercent,\n    priceVsBuy,\n    unrealizedReturnPercent,\n    stopLossPrice,\n    stopLossTriggered,\n\n    highVolumeDown:\n      volumeDeviationPercent > 10 &&\n      dailyChangePercent < 0,\n\n    stopLossTriggered,\n\n    historyRows: valid.length,\n\n    // Used by the following MACD node.\n    closes: valid.map(row => row.close),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "95120672-8bff-4fc5-a7bb-2a77933181e3",
      "name": "Analysis"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const closes = $json.closes.filter(Number.isFinite);\n\nif (closes.length < 35) {\n  throw new Error(`Not enough price data for MACD: ${closes.length} values`);\n}\n\nfunction ema(values, period) {\n  const multiplier = 2 / (period + 1);\n  const result = [values[0]];\n\n  for (let i = 1; i < values.length; i++) {\n    result.push(\n      values[i] * multiplier +\n      result[i - 1] * (1 - multiplier)\n    );\n  }\n\n  return result;\n}\n\nconst ema12 = ema(closes, 12);\nconst ema26 = ema(closes, 26);\n\nconst macdSeries = closes.map(\n  (_, index) => ema12[index] - ema26[index]\n);\n\nconst signalSeries = ema(macdSeries, 9);\n\nconst lastIndex = closes.length - 1;\nconst previousIndex = lastIndex - 1;\n\nconst macd = macdSeries[lastIndex];\nconst signal = signalSeries[lastIndex];\nconst histogram = macd - signal;\n\nconst previousMacd = macdSeries[previousIndex];\nconst previousSignal = signalSeries[previousIndex];\nconst previousHistogram = previousMacd - previousSignal;\n\nlet crossover = \"none\";\n\nif (previousMacd <= previousSignal && macd > signal) {\n  crossover = \"bullish\";\n}\n\nif (previousMacd >= previousSignal && macd < signal) {\n  crossover = \"bearish\";\n}\n\nreturn {\n  json: {\n    ...$json,\n\n    macd: Number(macd.toFixed(4)),\n    macdSignal: Number(signal.toFixed(4)),\n    macdHistogram: Number(histogram.toFixed(4)),\n\n    macdState: macd > signal ? \"bullish\" : \"bearish\",\n    macdCrossover: crossover,\n    macdMomentumIncreasing: histogram > previousHistogram,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        256
      ],
      "id": "fdd39a54-47e2-4656-a016-386711d50c26",
      "name": "Calculate MACD"
    },
    {
      "parameters": {
        "jsCode": "const stocks = $input.all().map(item => {\n  // Do not save the full three-month price array\n  const { closes, ...result } = item.json;\n  return result;\n});\n\nconst now = new Date();\n\nconst date = now.toLocaleDateString('en-CA', {\n  timeZone: 'Europe/Copenhagen',\n});\n\nreturn [\n  {\n    json: {\n      fileName: `portfolio-${date}.json`,\n      content: JSON.stringify(\n        {\n          generatedAt: now.toISOString(),\n          date,\n          stocks,\n        },\n        null,\n        2\n      ),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        256
      ],
      "id": "d179567c-d189-49fb-8126-ce5ae97e373c",
      "name": "Prepare Daily Log"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        256
      ],
      "id": "c343c516-211b-4a1a-a6e7-8749291ae192",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const stocks = $input.all().map(item => {\n  const s = item.json;\n\n  return {\n    symbol: s.symbol,\n    buyPrice: s.buyPrice,\n    currentPrice: s.currentPrice,\n    dailyChangePercent: s.dailyChangePercent,\n    dailyVolume: s.dailyVolume,\n    averageVolume3m: s.averageVolume3m,\n    volumeDeviationPercent: s.volumeDeviationPercent,\n    priceVsBuy: s.previousClose,\n    unrealizedReturnPercent: s.unrealizedReturnPercent,\n    stopLossPrice: s.stopLossPrice,\n    stopLossTriggered: s.stopLossTriggered,\n    volumeDeviationPercent: s.volumeDeviationPercent,\n    highVolumeDown: s.highVolumeDown,\n    stopLossTriggered: s.stopLossTriggered,\n    macd: s.macd,\n    macdSignal: s.macdSignal,\n    macdHistogram: s.macdHistogram,\n    macdState: s.macdState,\n    macdCrossover: s.macdCrossover,\n    macdMomentumIncreasing: s.macdMomentumIncreasing,\n  };\n});\n\nconst prompt = `\nYou are a concise stock analysis agent.\n\nAnalyse only the supplied technical data.\nDo not invent news, financial results, forecasts, or price targets.\n\nFor each stock return:\n- signal: positive, neutral, or negative\n- short reasoning\n- primary risk\n- action: monitor, investigate, or stop-loss warning\n\nStock data:\n${JSON.stringify(stocks, null, 2)}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    stocks,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        464
      ],
      "id": "5add9903-b08b-4d4e-849b-98ea29404551",
      "name": "Prepare LLM Input"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const analysis = $json.choices?.[0]?.message?.content;\n\nif (!analysis) {\n  throw new Error('No LLM response found');\n}\n\nconst prepared = $('Prepare LLM Input').first().json;\n\nreturn {\n  json: {\n    generatedAt: new Date().toISOString(),\n    stocks: prepared.stocks,\n    analysis,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        464
      ],
      "id": "52969679-d26a-48a6-a468-8ef61d4e8590",
      "name": "Extract LLM Analysis"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const now = new Date();\n\nconst date = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Copenhagen',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}).format(now);\n\nreturn {\n  json: {\n    fileName: `analysis-${date}.json`,\n    content: JSON.stringify(\n      {\n        generatedAt: $json.generatedAt,\n        stocks: $json.stocks,\n        analysis: $json.analysis,\n      },\n      null,\n      2\n    ),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        672
      ],
      "id": "8395d31f-d98b-4d10-b380-2b546d42c109",
      "name": "Prepare Analysis File"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        416,
        672
      ],
      "id": "398c027e-e795-4f0c-8db4-c937f904350e",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 27
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -176
      ],
      "id": "bd2b8846-6d9b-48bb-a90b-8164760dd448",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "8895739149",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        464
      ],
      "id": "661a1f6d-2f26-4ee4-875a-d9ec956c93d1",
      "name": "Send a text message",
      "webhookId": "62d836eb-355a-4b9c-987b-86ac651db281",
      "credentials": {
        "telegramApi": {
          "id": "yvCmO7H3wRa65IFC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    model: \"qwen3.5:9b\",\n    messages: [\n      {\n        role: \"user\",\n        content: $json.prompt\n      }\n    ],\n    think: false,\n    temperature: 0.1,\n    max_tokens: 2048,\n    stream: false\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        464
      ],
      "id": "d1594b35-5df2-428e-8eae-74d70cd8963d",
      "name": "LLM request",
      "credentials": {
        "httpBearerAuth": {
          "id": "9y81VsKtT4U9BV7M",
          "name": "LiteLLM Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const date = new Intl.DateTimeFormat('en-DK', {\n  timeZone: 'Europe/Copenhagen',\n  dateStyle: 'long',\n}).format(new Date());\n\nreturn {\n  json: {\n    ...$json,\n    telegramMessage:\n`Portfolio report – ${date}\n\n${$json.analysis}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        464
      ],
      "id": "72c64526-8811-4984-8331-e71628a2fae3",
      "name": "Format Telegram Message"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/files/logs/' + $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        624,
        256
      ],
      "id": "85d781ee-e35e-44ef-bef4-c30160be1a59",
      "name": "Write log file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/files/logs/' + $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        624,
        672
      ],
      "id": "b876b1ca-d789-4920-a916-440121172955",
      "name": "Write result"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Stock List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock List": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis": {
      "main": [
        [
          {
            "node": "Calculate MACD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate MACD": {
      "main": [
        [
          {
            "node": "Prepare Daily Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Daily Log": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write log file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "LLM request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LLM Analysis": {
      "main": [
        [
          {
            "node": "Prepare Analysis File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analysis File": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Write result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Stock List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "LLM request": {
      "main": [
        [
          {
            "node": "Extract LLM Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write log file": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        null
      ],
      "recurrenceRuleSignatures": [
        null
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "05ed34d0-d897-468b-b1e2-ded8fd0a2d49",
  "activeVersionId": "05ed34d0-d897-468b-b1e2-ded8fd0a2d49",
  "versionCounter": 215,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-11T09:32:31.811Z",
      "createdAt": "2026-07-11T09:32:31.811Z",
      "role": "workflow:owner",
      "workflowId": "1lbkTUDOyzfR6x82",
      "projectId": "GQNbng0QqhX0CllC",
      "project": {
        "updatedAt": "2026-07-11T09:30:14.997Z",
        "createdAt": "2026-07-08T07:31:19.792Z",
        "id": "GQNbng0QqhX0CllC",
        "name": "André Gammelgaard <oldfarm@oldfarm.dk>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "421bda88-bb9b-4a51-9076-06e01c515d92"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 05ed34d0",
    "description": ""
  }
}